.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    max-height: 600px;
    margin: auto;
}



.square {
    display: flex;
    aspect-ratio: 1 / 1;
    outline: 2px solid black;
    
  }
